.ui.sidebar.inverted.vertical.menu{
    background-color: #34465a;
}

#SidebarHeader{
    text-align: center;
    background-color: #293949;
    border: none;
}

.ui.search{
    padding-top: 10%; 
    padding-bottom: 10%;
}

.ui.button{
    align-content: center;
    background-color: white;
    color:grey;
}

#CategoryHeader{
    padding-bottom: 10%;
    /*text-align: center;*/
    color:white;
}

.small.ui.buttons{
     padding-bottom: 10%;
}

.ui.checked.checkbox{
    padding-bottom: 5%;
}

#Distance{
    padding-top: 10%;
    align-content: center;
}

#Label{
    color:white;
}


#Miles{
    width: 6em;
    height: 1em;
    margin-right: 5%;
}

#Zip{
    width: 6em;
    height: 1em;
}

.location.arrow.icon{
    margin-left: 5%;
    margin-top: 3%;
    /*color: #C0C1C2;*/
    color: #96abc0;
}

#Price{
    width: 6em;
    height: 1em;
    padding-top: 10%;
}

#Min{
    width: 6em;
    height: 1em;
    margin-right: 5%;
    
}

#Max{
    width: 6em;
    height: 1em;
}

#Condition{
    padding-top: 40%;
}

#UpdateSearch{
    align-content: center;
    text-align: center;
    padding-top: 20%;
}

#ResetFilters{
    padding-top: 5%;
}


.right{
    padding-right: 20%;
}

.ui.menu{
    /*background-color: #EEEEEE;*/
}

#menu-icon{
    padding-right: 50%;
    
}

.ui.four.column.grid{
    padding-left: 10%;
    column-gap: 40px;
}

.card{
    color: '';
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    transform:scale(0.9,0.9);
  }



/* Generic */
/*.ui.cards > .card > .content a:not(.ui),
.ui.card > .content a:not(.ui) {
  color: '';
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  padding-left: 15%;
}
.ui.cards > .card > .content a:not(.ui):hover,
.ui.card > .content a:not(.ui):hover {
  color: '';

  padding-left: 15%;

}*/

